body {
    background-color: #f7f9fc;
}

.container {
    max-width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #343a40;
}

.controls {
    background-color: #ffffff;
}

#arrayContainer {
    height: 400px;
    width: 100%;
    border: 1px solid #dee2e6;
    background-color: #ffffff;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.bar {
    background-color: #007bff;
    transition: all 0.3s;
    border-radius: 3px;
}

.bar.sorted {
    background-color: #28a745;
}
